body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    text-justify: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.container2 {
    width: 68%;
    height: 582px;
    display: flex;
    flex-wrap: wrap;
}

.photo {
    border-radius: 50px;
    float: left;
    width: 35px;
    height: 35px;
}
.title {
    font-size: larger;
}

.section {
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    padding-top: 20px;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.2);
}

.info {
    color: gray;
}

.section1 {
    max-width: 482px;
    max-height: auto;
    background-color: rgb(115, 63, 200);
}

.section2 {
    width: 184px;
    height: auto;
    background-color: rgb(73, 85, 107);
}

.section3 {
    width: 185px;
    height: auto;
    background-color: white;
    color: black;
}

.section4 {
    width: 461px;
    height: auto;
    background-color: rgb(24, 32, 45);
} 

.section5 {
    margin-left: 10px;
    width: 13%;
    height: auto;
    background-color: white;
    color: black;
}

.verified {
    color: gray;
    margin-top: -10px;
    padding-left: 50px;
}

h3 {
    margin-top: 0px;
    padding-left: 50px;
}

@media (max-width:375px){
    .container {
        display: inline-block;
        flex-wrap: nowrap;
        height: auto;
    }
    .container2 {
        display: block;
        flex-wrap: nowrap;
        height: auto;
        width: auto;
    }
    .section1, .section2, .section3, .section4, .section5 {
        width: 360px;
        height: auto;
    }
}